@import "../../variables";

.article-authors {
  margin-top: $size-1;
  h2 {
    &.title {
      text-transform: uppercase;
    }
  }
  .card {
    .title {
      color: $grey-darker;
      font-size: $size-4;
    }
  }
}
