@import "../../variables";

.section-button {
  display: inline-block;
  height: auto;
  font-family: $family-secondary;
  white-space: break-spaces;
  &.is-large {
    font-size: $size-3;
  }
  small {
    display: block;
    font-family: $family-primary;
    font-size: $size-6;
  }
}
